<div class="all-posts sidebar">

  {{#each post in model}}
    <div class="a-post">
      {{#link-to 'post' post}}
        <h2>{{post.title}}</h2>
        <p> by {{post.user.firstName}} {{post.user.lastName}}</p>
      {{/link-to}}
        <button {{action 'deletePost' post.id}}>Delete Post</button>
    </div>
  {{/each}}
</div>


{{outlet}}
