<div class="search-area">
  {{input placeholder="Search here" value=term}}
  <button {{action 'doSearch'}} >Search</button>

  <p>The user searched for..  {{term}}</p>
</div>

<div class="results">
  {{#each post in model}}
      <article class="one-post">
        {{#link-to 'post' post}}
          <h2>{{post.title}}</h2>
        {{/link-to}}
          {{post.body}}
      </article>
    {{else}}
      <article class="one-post">
        Sorry, try again!
      </article>
  {{/each}}
</div>
